body{

  margin: auto;
  vertical-align: middle;
  text-align: center;
  font-size: 20pt;
  /* background-color: teal; */
  color:gold;
  background-image: url(images/wooden-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#display{

  width: 30%;
  margin-left: 35%;
  padding-top: 1px;
}
a{
  text-decoration: none;
  color: gold;
}
#whoStarts{
  /* border : 10px solid purple; */
  background-image: url(images/div-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: purple; */
  border-radius: 10px;
  position: absolute;
  width: 15%;
  margin-left: 74vw;
  margin-top: -249px;
  margin-bottom: 146px;
  color:rgb(106, 21, 21);
  border-style:  inset;
}



#theme{
  /* border: 10px solid purple; */
  background-image: url(images/div-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  /* background-color: purple; */
  width: 15%;
  position: absolute;
  margin-left: 10%;
  color:rgb(106, 21, 21);
  border-style:  inset;

}
.pacman{
  /* background: black; */
  border:2px dotted gold;
  background-image: url(images/black-background.jpg);
  color: gold;
}
.pacmanplayerOne{
  background-image: url(images/pacman-blueplayer.jpg);
}

.pacmanplayerTwo{
  background-image: url(images/pacman-redplayer.png);
}

.pacmanComputer{
  background-image: url(images/pacman-cp.png);
}
#roundLabel{
  margin: 0;
  padding: 5px;
}
#blueWinsText,#redWinsText,#computerWinsText{
    content-visibility: hidden;
}
#redGif,#blueGif{
  content-visibility: hidden;
}
.invisible{
  visibility: hidden;
}
.scores{
  vertical-align:
  margin: 5px;
  text-align: center;
}
#round{
  border-radius: 10px;
  background-color: purple;
  background-image: url(images/div-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  margin-left: 35%;
  padding-top: 1px;
  color:rgb(106, 21, 21);
  border-style:  inset;
}
#playAgain{
background-color: purple;
background-image: url(images/div-background.jpg);
background-repeat: no-repeat;
background-size: cover;
border-radius:10px;
color:rgb(106, 21, 21);
height: 50px;
font-size: 20pt;
margin-bottom: 5px;

}

#newGame{
  margin-left:2%;
  background-color: purple;
  background-image: url(images/div-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  color:rgb(106, 21, 21);
  height: 50px;
  font-size: 20pt;
  margin-top: 10px;
}


#redScoreBox{
  background-color: rgba(200, 0, 0,1);
  background-image: url(images/div-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  width: 15%;
  position: absolute;
  margin-left: 10%;
  margin-bottom: 10px;
  color:rgb(106, 21, 21);
  border-style:  inset;
}

#computerScoreBox{
  background-color: rgba(200, 0, 200,1);
  background-image: url(images/div-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  visibility: collapse;
  border-radius: 10px;
  width: 15%;
  position: absolute;
  margin-left: 10%;
  color:rgb(106, 21, 21);
  border-style:  inset;
}
#roundCount{
  background-color: purple;
  background-image: url(images/div-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  width: 30%;
  margin-left: 35%;
  padding: 5px;
}
input{
  background-image: url(images/div-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  border: rgb(184, 102, 102)ay solid 5px;
  color:rgb(106, 21, 21);
}

#computer{
  background-color: purple;
  background-image: url(images/div-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  border: rgb(184, 102, 102)ay solid 5px;
  color:rgb(106, 21, 21);
  width: 30%;
  height: 50px;
  font-size: 20pt;
  margin: 5px;
}
#blueScoreBox{
  background-color: rgb(0,0,200,1);
  background-image: url(images/div-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display:inline-block;
  border-radius: 10px;
  position: absolute;
  width: 15%;
  margin-left: 40vw;
  color:rgb(106, 21, 21);
  border-style:  inset;

}

#gameboard{
  border: 5px solid rgb(106, 21, 21);
  background-color: rgb(38, 94, 62);
  display:inline-block;
  border-radius: 10px;
  margin: none;
  left: 36%;
  top: 40%;
}


.grid {
  display: inline-block;
  border: 2px solid black;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin: 0;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.token{
  position: relative;
  left: 40%;
  top: 4%;
}
